/* AddModalButton.css */
.add-modal-button {
	position: fixed; 
	bottom: 30px; 
	right: 30px; 
	width: 60px; 
	height: 60px; 
	background-color: #6200ea; 
	color: white; 
	border: none; 
	border-radius: 50%; 
	font-size: 24px;
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); 
	cursor: pointer;
	transition: background-color 0.3s, box-shadow 0.3s; 
  }
  
  .add-modal-button:hover {
	background-color: #3700b3;
	box-shadow: 0 6px 8px rgba(0, 0, 0, 0.4); 
  }
  
  .add-modal-button:active {
	background-color: #3700b3; 
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); 
  }
  
  .material-icons {
	font-size: 32px; 
  }
  